<div class="base">
<section class="overview-faq">
    <div class="overview-faq__address">
      <h3>Adresa</h3>
      <p>
        Hiporehabilitace Hillarion&nbsp;z.s. Středisko White Hill<br><br> <b>Chotiněves 9
        411 46 Úštěk</b>
      </p>
    </div>

    <div class="overview-faq__contact">
      <h3>Kontakt</h3>
      <p>
        <b>Ilona&nbsp;Jirásková</b> fyzio/ergoterapeut<br>a&nbsp;vedoucí&nbsp;střediska
        <br /><br>
        +420&nbsp;604&nbsp;338&nbsp;628<br>info&nbsp;@&nbsp;hillarion&nbsp;.&nbsp;cz
      </p>
    </div>

    <div class="overview-faq__opening-hours">
      <h3>Otevírací&nbsp;doba</h3>
      <p>
        Pondělí&nbsp;-&nbsp;Neděle dle&nbsp;předchozí<br>telefonické<br>či e-mailové domluvy
        <br /><br>
        Společně určitě najdeme vhodný termín
      </p>
    </div>

   

  </section>
</div>