<section class="overview base">
  <div class="overview__address">
    <h3>Adresa</h3>
    <p>
      Hiporehabilitace Hillarion&nbsp;z.s. Středisko White Hill<br /><br />
      <b>Chotiněves 9 411 46 Úštěk</b>
    </p>
  </div>

  <div class="overview__contact">
    <h3>Kontakt</h3>
    <p>
      <b>Ilona&nbsp;Jirásková</b>
      fyzio/ergoterapeut<br />a&nbsp;vedoucí&nbsp;střediska <br /><br />
      +420&nbsp;604&nbsp;338&nbsp;628<br />info&nbsp;@&nbsp;hillarion&nbsp;.&nbsp;cz
    </p>
  </div>

  <div class="overview__opening-hours">
    <h3>Otevírací&nbsp;doba</h3>
    <p>
      Pondělí&nbsp;-&nbsp;Neděle dle&nbsp;předchozí<br>telefonické<br />či
      e-mailové domluvy <br /><br />
      Společně určitě najdeme vhodný termín
    </p>
  </div>

  
  <div class="overview__faq">
    <a href="/faq">
      <h3>Často kladené dotazy</h3>
      <div class="overview__faq--icon">
        <img src="/images/right-arrow.svg" alt="Šipka vpravo" width="400px" />
      </div>
    </a>
  </div>
</section>
